@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "./segment";
@import "./client";

.crm {
    display: flex;
    flex-direction: column;
    .crm__empty {
        padding-bottom: 64px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .crm__header {
        display: flex;
        justify-content: space-between;
        .crm__header-title {
            margin-left: 5px;
        }
        .crm__header_new-btn {
            p {
                margin-left: 10px;
                margin-bottom: 0;
            }
        }
    }
    
    .panel-crm {
        .panel-crm__header {
            margin-top: 50px;
            margin-left: 34px;
        }

        .panel-crm__body {
            margin-left: 34px;
            margin-right: 34px;
            margin-top: 34px;
        }

        .panel-crm__form-input {
            border-radius: 10px !important;
            .v-input__slot {
                margin-bottom: 5px !important;
            }

            .v-text-field__details {
                padding-left: 5px !important;
            }

            input,
            textarea {
                font-family: 'Gilroy';
                font-weight: 500;
                color: $neutral-900;
                font-size: 15px ;
                line-height: 21px;

                &::placeholder {
                    color: $neutral-600 !important;
                }
            }
        }

        .panel-crm__form-textarea {
            position: relative;
            width: 100%;

            .textarea---angle {
                position: absolute;
                width: 13px;
                height: 1.4px;
                background: $neutral-500;
                bottom: 39px;
                right: 4px;
                transform: rotate(139deg);
                border-radius: 50px;
                z-index: 22;

                &:before {
                    content: "";
                    position: absolute;
                    width: 7px;
                    height: 1.4px;
                    margin-top: -4px;
                    margin-left: 2.5px;
                    border-radius: 10px;
                    background: $neutral-500;
                }
            }
        }

    }
}