.w-base-diagram {
    .w-base-diagram__body {
        .w-base-diagram__diagram {
            margin-top: 12px;
        }

        .w-base-diagram__progress {
            margin-top: 35px;
            margin-bottom: 12px;
        }
    }
}