@import "../../_variables.sass";

.f-vertical-progress {
    .f-vertical-progress__body {
        justify-content: space-between; 
        .f-vertical-progress__box {
            .f-vertical-progress__box-container {
                margin-top: 10px;
                
                &:nth-child(1) {
                    margin-top: 14.5px;
                    .f-vertical-progress__info-statistics  {
                        .statistics__percent {
                            color: $primary-base
                        }
                    }
                }

                 &:nth-child(2) {
                    .f-vertical-progress__info-statistics  {
                        .statistics__percent {
                            color: $warning-500
                        }
                    }
                }

                 &:nth-child(3) {
                    .f-vertical-progress__info-statistics  {
                        .statistics__percent {
                            color: $chart-500
                        }
                    }
                }

                .f-vertical-progress__box-info {
                    .f-vertical-progress__info-title {
                        margin-bottom: 5px;
                        p {
                            margin-bottom: 0;
                            color: $neutral-500;
                        }
                    }
                }

                .f-vertical-progress__info-statistics {
                    .statistics__number {
                        float: left;
                        margin-right: 8px;
                        width: 100px;
                    }
                    .statistics__percent-all {
                        float: left;
                        margin-right: 18px;
                    }
                    .statistics__percent {
                        margin-top: 5px;
                        display: inline-block;
                    }
                }
            }
        }
        .f-vertical-progress__diagram {
            margin-top: auto;
            transform: rotate(-90deg) translateX(24%);
            .f-vertical-progress__diagram-progress {
                .v-progress-linear {
                    height: 12px!important;
                    width: 182px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}