@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.app--component--topic {
  width: 100%;
  border-top: 1px solid $primary-base;
  z-index: 2;
  p {
    margin-bottom: 0;
  }
  .topic-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    .topic-actions {
      display: flex;
      margin-top: 30px;
      margin-left: 22px;
      .icon-close {
        margin-right: 6px;
      }
      .icon {
        color: $neutral-500;
        cursor: pointer
      }
    }
    .topic-list {
      display: flex;
      margin-top: 20px;
      margin-left: 22px;
      list-style: none;
      padding-left: 0;
      overflow: hidden;
      width: 100%;
      .v-slide-group {
        width: 100%;
        align-items: center;
        .v-slide-group__wrapper {
          width: calc(100% - 148px);
          flex: none;
        }
      }
      .v-slide-group__next {
        right: 23px;
      }
      .v-slide-group__prev {
        right: 64px;
      }
      .v-slide-group__next,
      .v-slide-group__prev {
        position: absolute;
        min-width: 0;
        cursor: pointer;
        .icon-prev,
        .icon-next {
          color: $primary-base;
        }
      }
      .v-slide-group__next.v-slide-group__next--disabled,
      .v-slide-group__prev.v-slide-group__next--disabled {
        .icon-prev,
        .icon-next {
          color: $neutral-500;
        }
      }
      .item-btn {
        background: $primary-100;
        border: none !important;
        border-radius: 6px;
        margin-right: 8px;
        color: $primary-base;
        padding: 10px 12px;
        min-width: 0;
        height: inherit;
        text-transform: none;
        &::before {
          opacity: 0!important;
        }
      }
    }
    .topic-controls {
      display: flex;
      margin-top: 30px;
      margin-left: auto;
      margin-right: 22px;
      .icon-prev {
        margin-right: 30px;
      }
      .icon {
        color: $neutral-500;
        cursor: pointer;
        &.active {
          color: $primary-base;
        }
      }
    }
  }
  .topic-choices {
    margin-bottom: -12px;
    margin-left: 68px;  
    .choice__list {
      list-style: none;
      padding-left: 0;
      .choice__item {
        p {
          color: $primary-base;
        }
      }
    }
  }
}