@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";

.field-search {
  border-radius: 10px !important;

  .v-input__prepend-inner {
    padding-right: 8px !important;
  }

  .v-input__append-inner {
    width: 35px !important;
    padding: 0 !important;
    margin: 10px 0 0 0 !important;
  }

  .v-input__icon--clear {
    color: $neutral-500;
  }

  .v-input__append-inner:last-child {
    width: 0 !important;
  }

  fieldset {
    border: 1px solid $neutral-400!important;
  }

  input {
    &::placeholder {
      color: $neutral-600 !important;
    }
  }
}