@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.mode-usual__contacts {
    display: flex;
    .contacts__block-right {
        .contacts-full_name {
            p {
                margin-bottom: 3px;
            }
        }
        .contacts-online {
            margin-top: 8px;
        }
        .contacts-info {
            margin-top: 17px;
            .contacts-info__list {
                padding-left: 0;
                list-style: none;
                .contacts-info__item {
                    .info__item-icon {
                        float: left;
                        color: $neutral-600;
                        margin-right: 13px;
                    }
                }
            }
        }
    }
    .contacts__block-left {
        margin-top: 5px;
        margin-left: 120px;
    }
}

.mode-usual__bonus-accounts {
    margin-top: 16px;
    .bonus-accounts__header {

    }
    .bonus-accounts__cards {
        .bonus-accounts__card {
            background: $neutral-100;
            box-shadow: 0px 24px 20px -16px rgba(88, 93, 106, 0.1);
            border: 1px solid $neutral-250;
            border-radius: 10px;
            .card__header {
                display: flex;
                .card__header-title {

                }
                .card__header-count {

                }
                .card__header-control {
                    .control-btn {
                        width: 31px;
                        height: 31px;
                        min-width: inherit;
                        padding: 0 !important;
                        border-radius: 50px;
                        .v-btn__content {
                            color: $primary-base;
                        }
                    }
                }
            }
            .card__body {
                .card__body-input {
                    input {
                        @include body-m-medium;
                    }
                }
            }
        }
    }
}