.daterangepicker
  margin: 0 !important

.vue-daterange-picker.inline
  .form-control.reportrange-text
    display: none!important
    position: absolute
    background: #ffffff !important
    color: #ffffff !important
    cursor: pointer
    border: none !important
    height: 0 !important
    padding: 0 !important
    // width: 100%
    // display: flex!important
    // align-items: center
    // border-radius: 0 !important
    // height: 54px !important
    // font-family: Gilroy
    // font-style: normal
    // font-size: 15px
    // line-height: 21px
    // color: #2A2A34
    // &::placeholder
      // font-family: Gilroy
      // font-style: normal
      // font-size: 15px
      // line-height: 21px
      // color: #9191A1
      // background-color: transparent !important
