.vue-daterange-picker
  .form-control.reportrange-text
    width: 100%
    outline: none !important
    padding: 11px 12px
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 17px
    color: #9191A1
    border: 1px solid #D7D7E0
    box-sizing: border-box
    height: 41px!important