@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";
@import "./components/client-edit-mode-usual.scss";

.panel-crm_edit_client {
    .side-panel__back {
        z-index: 124;
        position: fixed;
        color: #4776E6;
        cursor: pointer;
    }
    .v-navigation-drawer__content {
        &::-webkit-scrollbar {
            width: 0 !important
        }
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
    .panel-crm_edit_client__header {
        width: 100%;
        position: fixed;
        padding: 0 34px;
        margin-top: 0 !important;
        margin-left: 0 !important;
        background-color: #fff;
        z-index: 123;
        padding-top: 29px;
        .panel-crm_edit_client__tabs {
            text-align: right;
            .panel-crm_edit_client__tabs-btn {
                width: 112px;
                height: 33px !important;
                &.active {
                    background: linear-gradient(90deg, $primary-base 0%, $secondary-base 100%) !important;
                    span.v-btn__content {
                        color: $neutral-100;
                    }
                }
                span.v-btn__content {
                    @include body-s-semibold;
                    color: $primary-base;
                }
                &:nth-child(1) {
                    border-radius: 10px 0px 0px 10px;
                }
                &:nth-child(2) {
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
        .panel-crm_edit_client__sub-tabs {
            margin-top: 21px;
            .tab-list {
                display: flex;
                list-style: none;
                padding: 0;
                .tab-item {
                    position: relative;
                    cursor: pointer;
                    margin-right: 20px;
                    p {
                        transition: 0.2s ease-in-out;
                        margin-bottom: 0;
                    }
                    .icon-external-link {
                        transition: 0.2s ease-in-out;
                        margin-left: 5px;
                    }
                    &:hover {
                        p {
                            color: $primary-base !important;
                        }
                        .icon-external-link {
                            color: $primary-base !important;
                        }
                    }
                    &.active {
                        p {
                            color: $primary-base !important;
                        }
                        .icon-external-link {
                            color: $primary-base !important;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: $primary-base;
                            border-radius: 100px;
                            bottom: -6px;
                        }
                    }
                }
            }
        }
        .panel-crm_edit_client__contacts {
            display: flex;
            justify-content: space-between;
            margin-top: 48px;
            .contacts__block-right {
                width: calc(100% - 82px);
                margin-right: 15px;

                .contacts-full_name {
                    p {
                        margin-bottom: 3px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .contacts-online {
                    margin-top: 8px;
                }
            }

            .contacts__block-left {
                margin-top: 5px;

                img {
                    width: 67px;
                    height: 67px;
                    border-radius: 67px;
                }
            }
        }
        &.extended {
            padding-bottom: 26px;
        }
    }
    .info-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        list-style: none;
        .info-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
            p {
                margin-bottom: 0!important;
                width: 35%;
            }
            .right-text {
                display: block;
                width: 65%;
            }
        }
    }
    .v-input.theme--light {
        .v-input__control {
            .v-input__slot {
                fieldset {
                    border-radius: 10px;
                }
                input {
                    color: $neutral-900 !important;
                    @include body-m-medium;
                    &::placeholder {
                        color: $neutral-600 !important;
                        @include body-m-medium;
                    }
                }
            }
        }
    }
    .panel-crm_edit_client__body {
        &.usual {
            margin-top: 210px !important;
        }
        &.extended {
            margin-top: 270px !important;
        }
    }
}
