@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";

.panel-crm_segment {

    .panel-crm_segment__body {
        .panel-crm_segment__form {
            .panel-crm_segment__form-block {
                margin-top: 8px;
                display: flex;
                flex-direction: column;

                .panel-crm_segment__form-labels {
                    p {
                        &:nth-child(2) {
                            color: $neutral-700;
                        }
                    }

                    .labels__sub-label {
                        margin-top: -8px;
                        margin-bottom: 20px;
                    }
                }

                .labels__color-picker {
                    display: inline-block;
                    position: relative;
                    background-color: transparent;

                    .labels__color-box {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        border-radius: 50px;
                        background-color: $success;
                        cursor: pointer;
                    }

                    .colorPickerWrapper {
                        position: relative;
                        padding: 0px 7px 0px 0px;
                        position: absolute;
                        margin-top: -349px;
                        margin-left: -5px;
                        border-radius: 6px;
                        background: #fff;
                        border: 3px solid #f6f6f6;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 4px;
                            bottom: -20px;
                            border: 10px solid transparent;
                            border-top: 10px solid #f6f6f6;
                        }
                    }
                }
            }



            .panel-crm_segment__btns {
                display: flex;
                align-items: center;
                margin: 42px 0;
                justify-content: space-between;
                .panel-crm_segment__btn-create {
                    .icon-check-circle {
                        margin-right: 10px;
                    }
                }
                .panel-crm_segment__btn-delete {
                    cursor: pointer;
                    display: flex;
                    .icon-feather-trash {
                        margin-right: 4px;
                        color: $error;
                    }
                    p {
                        margin-bottom: 0;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}
