@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";

.b-segment__empty {
    .b-segment__btn-create {
        width: 198px;
        height: 53px;
        margin-top: 34px;

        .icon-dashboard {
            margin-right: 8px;
        }
    }
}