$shopCardTitle: #2A2A34;
$shopWorkTime: #70707D;
$shopAddress: #9191A1;
$shopIconGrey: #9191A1;
$shopIconBlue: #4776E6;
$shopIconRed: #EA4C2A;

.icon-grey {
    color: $shopIconGrey;
}

.icon-blue {
    color: $shopIconBlue;
}

.icon-red {
    color: $shopIconRed;
}

.info-card-text {
    margin: 15px 0;

    .info-card-text-icon {
        margin: -5px 10px;
    }
}

.shop-card {
    margin-top: 34px;
    padding: 24px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #F2F2F7;
    box-sizing: border-box;
    box-shadow: 0 24px 20px -16px rgba(88, 93, 106, 0.1);
    border-radius: 10px;

    .shop-card-header {
        display: flex;
        align-items: center;
        height: 31px;

        .shop-card-title {
            width: 80%;
            color: $shopCardTitle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .shop-card-title-action {
            position: relative;
            width: 24px;

            .shop-card-title-action-items {
                position: absolute;
                top: -12px;
                right: 0;
                display: flex;
            }
        }
    }

    .shop-card-work-time {
        margin-top: 16px;
        display: flex;
        align-items: center;
        color: $shopWorkTime;

        .shop-card-work-time-item {
            display: flex;
            align-items: center;

            .shop-card-work-time-icon {
                color: $shopIconBlue;
                margin-right: 10px;
            }
        }
    }

    .shop-card-address {
        margin-top: 16px;
        display: flex;
        align-items: center;
        color: $shopAddress;

        .shop-card-address-icon {
            margin-right: 10px;
        }
    }
}

.shop-form {
    padding: 18px 24px 34px 24px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #F2F2F7;
    box-sizing: border-box;
    box-shadow: 0 24px 20px -16px rgba(88, 93, 106, 0.1);
    border-radius: 10px;

    .shop-form-control {
        .shop-form-label {
            margin-bottom: 8px;
        }
        .shop-form-field {

        }
    }

    .shop-form-work-time {
        display: flex;
        margin: 10px 0px;

        .shop-form-work-time-control {
            width: 50%;
        }
    }

    .shop-form-period {
        display: flex;

        .shop-form-period-control {
            width: calc(50% - (21px / 2));
        }

        .shop-form-period-separator {
            margin-top: 12px;
            width: 16px;
            text-align: center;
        }

        
    }
    .shop-form-period-action {
        padding: 10px 0px;

    }

    .shop-form-action {
        display: flex;
        margin-top: 36px;
    }
}
