@import '../_variables.sass';

.w-operator {
    height: 100%;

    .w-operator__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .w-operator__header-right {
            cursor: pointer;
            display: inherit;
            .w-operator__header-icon {
                color: $neutral-500;
            }
        }

        .w-operator__header-left {
            cursor: pointer;
        }
    }

    .w-operator__list {
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin-top: 6.5px;

        .w-operator__item {
            margin-top: 11px;

            .w-operator__item-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: -2px;

                .w-operator__name {
                    color: $neutral-600;
                    margin-bottom: 3px;
                }

                .w-operator__percent {
                    color: $primary-base;
                }
            }
        }
    }
}

.panel-operator {
    .panel-operator__header {
        margin-top: 45px;
        margin-left: 35px;

        .panel-operator__title {
            color: $neutral-900;
        }

        .panel-operator__sub-title {
            color: $neutral-700;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    .panel-operator__body {
        width: 415px;
        margin-left: 34px;
        margin-right: 34px;
        margin-top: 25px;

        .panel-operator__list {
            padding: 0;
            list-style: none;

            .panel-operator__item {
                margin-top: 24px;

                .panel-operator__item-top {
                    display: flex;
                    justify-content: space-between;

                    .panel-operator__name {
                        margin-bottom: 0;
                        color: $neutral-900;
                    }

                    .panel-operator__percent {
                        color: $neutral-900;
                    }
                }

                .panel-operator__item-bottom {
                    margin-top: 4px;
                }
            }
        }
    }
}
