@import '../variables';

.widget-box {
    padding: 20px;
    border: 1px solid $neutral-250;
    box-sizing: border-box;
    border-radius: 10px;

    p {
        margin-bottom: 0;
    }

    .wc-base {
        color: $primary-base;
    }

    .wc-success {
        color: $success-500;
    }

    .wc-error {
        color: $error-500;
    }

    .wc-neutral {
        color: $neutral-500;
    }

    .widget-box__header {
        display: flex;
        align-items: center;
        .widget-box__header-right {
            margin-left: 8px;
            .icon-question {
                display: inherit;
                color: $neutral-500;
            }
        }
    }

    .widget-box__body {
        width: 100%;
        display: flex;
        justify-content: center;

        .widget-box__body-diagram {
            width: 100%;
        }
    }
}
