.title-h2 {
  font-size: 22px;
}
.title-h3 {
  font-size: 17px;
}
.title-h4 {
  font-size: 15px;
}
.font-size-20 {
  font-size: 20px;
}
.desc-15 {
  font-size: 15px;
  margin-bottom: 0!important;
}
.color-text-grey {
  color: #70707D!important;
}
.color-text-dark {
  color: #2A2A34;
}
.font-weight-600 {
  font-weight: 600;
}
.desc-13 {
  font-size: 13px;
  margin-bottom: 0!important;
}
.desc-11 {
  font-size: 11px;
}
.color-green-text {
  color: #00D15D;
}
.font-weight-bold {
  font-weight: bold;
}
.desc-13-text {
  font-size: 13px;
}
.desc-15-text {
  font-size: 15px;
}
.font-weight-500 {
  font-weight: 500;
}
.text-light-grey {
  color: #9191A1;
}
