.title-h2 {
  font-size: 22px;
}
.title-h3 {
  font-size: 17px;
}
.title-h4 {
  font-size: 15px;
}
.desc-15 {
  font-size: 15px;
  margin-bottom: 0!important;
}
.color-text-grey {
  color: #70707D;
}
.color-text-dark {
  color: #2A2A34;
}
