.v-chip.v-chip--select  {
    height: 37px;
    padding: 0px 8px;
    background: #EBF1FF;
    border-radius: 6px;
    color: $primary-base;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}