


.v-input.v-select {
    &.v-select--chips{
        @import './chips.scss';
    }
    .v-input__control{
        .v-input__slot{
            .v-select__slot {
                .v-select__selections{
                    padding: 0;
                    min-height: 45px;
                }
                .v-input__append-inner{
                    margin: auto;
                }
            }
        }
    }
}
