@import "_page-header";
@import "_page-table";

.pls--page-block-center {
    max-width: 680px;
    margin: 34px auto;
    padding: 25px;
    border: 1px solid #F2F2F7;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 24px 20px -16px rgba(88, 93, 106, 0.1);
}
