@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.app--topic-bar-topic-create {
  /* MODAL */
  .modal-header {
    margin-top: 10px;
    font-size: 24px;
    color: #687983;
    text-align: center;
  }

  .modal-content {
    margin: 50px 15px 90px 15px;
  }

  .modal-action {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    margin: 10px 15px;
  }

  .close {
    margin-top: 15px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(51, 51, 51, 0.6);
    border-bottom: 1px dotted rgba(51, 51, 51, 0.6);
    cursor: pointer;
  }

  /* TOPICS */

  .topics-btn-add {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 2px 2px;
    font-weight: 900;
    background-color: #24d3ed;
    cursor: pointer;
  }

  .topic-empty {
    font-size: 18px;
    color: rgba(51, 51, 51, 0.5);
    text-align: center;
  }

  .topic-row {
    display: flex;
    padding: 7px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .topic-name {
    padding: 2px 0 0 0;
  }

  .topic-members {
    color: rgba(0, 0, 0, 0.4);
    padding: 2px 10px 0 0;
  }

  .topic-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
    margin-right: 3px;
  }

  .topic-icon:hover {
    color: rgba(0, 0, 0, 0.4);
  }

  .input-field {
    margin-bottom: 20px;
  }

  /* RECIPIENTS */

  .res-row {
    display: flex;
    margin: 5px 0;
  }

  .check-all {
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    cursor: pointer;
  }

  .check-all-back {
    width: 28px;
    height: 28px;
    border-radius: 30px;
    background-color: #24d3ed;
    padding: 2px;
  }

  .name-all {
    padding: 4px 10px;
    font-weight: 900;
  }

  .line-h {
    position: relative;
    width: 15px;
    height: 1px;
    margin: 14px 0 14px 15px;
    background-color: rgba(51, 51, 51, 0.3);
  }

  .line-v {
    position: absolute;
    bottom: -14px;
    right: 0;
    width: 1px;
    height: 35px;
    margin: 0 14px 15px 14px;
    background-color: rgba(51, 51, 51, 0.3);
  }

  .check {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    cursor: pointer;
  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .name {
    padding: 5px 10px;
  }

  .topic-rights {
    display: flex;
    padding: 5px 0;
  }

  .topic-admin {
    color: #ff4a00;
  }

  .can-write {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin-right: 5px;
    cursor: pointer;
  }

  .can-write-active {
    background-color: #24d3ed;
  }

  .can-write-label {
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .can-write-label-active {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }

  /* MEDIA */
  /* EXTRA SMALL */
  @media (max-width: 600px) {}

  /* SMALL */
  @media (min-width: 600px) and (max-width: 959.8px) {}

  /* MEDIUM */
  @media (min-width: 960px) and (max-width: 1263.8px) {}

  /* LARGE */
  @media (min-width: 1264px) and (max-width: 1903.8px) {}

  /* X LARGE */
  @media (min-width: 1904px) {}
}