@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-file {
  .url {
    color: $primary-base;
    cursor: pointer;
  }

  .url:hover {
    text-decoration: none;
  }
}