@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-video {
  .video-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 6px;
      max-width: 188px;
      max-height: 338px;
    }
    .icon-play {
      color: #ffffff;
      cursor: pointer;
      position: absolute;
      color: #ffffff;
    }
  }
}

.dialog-attachment-video {
  .video-player {
    .vjs-big-play-button {
      height: 19px;
      width: 15px;
      top: 50%;
      left: 50%;
      border: none;
      background: none;
      outline: none;

      .vjs-icon-placeholder {
        &:before {
          content: "";
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAYAAABPwleqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC+SURBVHgBpVQBEYMwDEzvJmASmIM5GBLmABxMQudgc4AEJCBhEjYHk5B97zIIXIEE/i6XQPOXT9uUCGDmI20FyF9YByvICx7j7uH+yRHWSPw2qxBCJXEtZJsKTZbvYqKiNJPV/1KpaLKtzJHVelQqKhdZtTJScSAjQggfuFO6D/C1t/IZ9pLctr+VS+SUBHuqni/TBMtuPzg3A5lzXq42R4a/qmqR1yZOJbYSd2mDyAIekEbzRh7wznne9JL8APPIYC1NZWK3AAAAAElFTkSuQmCC');
          background-repeat: no-repeat;
          border: none !important;
          box-shadow: none !important;
        }
      }
    }

    .video-js,
    .vjs-tech,
    .vjs-control-bar {
      border-radius: 6px;
    }
  }
}