@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.v-dialog.dialog-attachment-preview {
  width: initial !important;
  border-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  .preview-img {
    display: flex;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background: $neutral-250;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $neutral-400;
    border-radius: 2px;
    width: 4px;
  }
}