@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-file {
  .file {
    font-size: 13px;
  }

  .url {
    font-size: 13px;
    color: #8C9499;
    border-bottom: 1px dotted #8C9499;
    cursor: pointer;
  }

  .url:hover {
    text-decoration: none;
  }
}