@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-image {
  .image-thumb {
    cursor: pointer;
    display: flex;
    &>img {
      border-radius: 6px;
      pointer-events: none;
      object-fit: contain;
      max-width: 300px;
      max-height: 388px;
    }
  }
}