@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-image {
  .preview-dialog {
    .preview-dialog__card {
      background-color: rgba(0, 0, 0, 0.8);

      .preview-dialog__container {

        // height: 100%;
        .image-row {
          min-height: 80vh;
        }
      }
    }
  }

  .image-thumb {
    cursor: pointer;
    display: flex;

    &>img {
      border-radius: 6px;
      pointer-events: none;
      object-fit: contain;
    }
  }

  .image-full {
    box-shadow: 0px 0px 5px 1px #343434;
    max-height: 70vh;
    max-width: 100%;
  }

  .image-back {
    position: relative;
    background-color: #ffffff;
  }

  .download {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    z-index: 2;
  }

  .download-icon {
    color: #ffffff;
    font-size: 40px;
  }

  .close-icon {
    position: absolute;
    z-index: 50;
    top: 5px;
    right: 7px;
  }

  .attachment--preview--toolbar {
    position: absolute;
    top: 10px;
    right: 40px;

    & i {
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}