@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-audio {
  .audio {
    display: flex;
    margin-bottom: 2px;
    .icon-play {
      cursor: pointer;
      color: $primary-base;
      margin-right: 15px;
      margin-left: 5px;
    }
    .strips {
      display: flex;
      align-items: center;

      .strip {
        background: $neutral-400;
        width: 2px;
        min-height: 4px;
        margin-right: 2px;
        border-radius: 50px;
        transition: 0.1s ease-in-out;

        &.active {
          background: $primary-base;
        }
      }
    }
    .durations {
      margin-left: 12px;

      p {
        margin-bottom: 0;
      }
    }
  }
}