@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.attachment-deleted {
  position: relative;
  margin-bottom: 20px;
  p {
    margin-top: 18px;
    margin-left: 10px;
    text-decoration: underline;
  }
  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 38px;
    background: #4776E6;
    border-radius: 60px;
    left: 0px;
    top: -8px;
  }
}