@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.message-line {
  display: flex;
  position: relative;
  width: 100%;
  margin: 15px 0;

  .message-author-avatar {
    margin: 0 12px 0 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .message-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 60%;

    .message-actions {
      display: none;
      position: absolute;
      border-radius: 10px;
      background: $neutral-100;
      box-shadow: 0px 5px 20px rgba(88, 93, 106, 0.1);
      z-index: 9;
      padding: 20px;
      padding-top: 0;
      right: 0;

      &.show {
        display: flex;
      }

      &.hide {
        display: none;
      }

      &.top {
        right: 0;
        top: -282px;
      }

      &.bottom {
        bottom: -282px;
        &:after {
          top: -25px;
        }
        &:before {
          bottom: inherit;
          top: -5px;
        }
      }
      
      &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: $neutral-100;
        transform: rotate(45deg);
        bottom: -5px;
        right: 16px;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        background: transparent;
        left: 0;
        bottom: -25px;
      }

      .action-list {
        padding-left: 0;
        list-style: none;

        .action-item {
          margin-top: 20px;

          &:hover {
            p {
              color: $secondary-base !important;
            }
            .icon {
              color: $primary-base;
            }
          }
          a {
            display: flex;
            text-decoration: none;
            align-items: center;
          }

          p {
            margin-bottom: 0;
            transition: 0.1s ease-in-out;
          }

          .icon {
            color: $neutral-500;
            margin-right: 20px;
            transition: 0.1s ease-in-out;
          }
        }
      }
    }

    .message-author {
      font-size: 13px;
      color: #9e9e9e;
      margin-bottom: 3px;
    }

    .message-box {
      position: relative;
      padding: 12px 12px 10px 12px;
      word-break: break-word;
      background-color: $neutral-100;
      border: 1px solid $neutral-250;
      box-shadow: 0px 24px 20px -16px rgba(88, 93, 106, 0.1);
      border-radius: 10px 10px 10px 0px;

      &.message-my {
        background-color: $neutral-250;
      }

      /* меню сообщения мое */
      .message-menu-my {
        position: absolute;
        top: 0;
        left: -130px;
        width: 130px;
        /*border: 1px solid #000000;*/
        z-index: 3;

        .message-menu-my-icons {
          position: absolute;
          // top: 50%;
          right: 5px;
          bottom: 0px;
          // margin-bottom: 16px;
        }

        .message-menu-my-icon1 {
          font-size: 23px;
          color: #bac5d2;
          cursor: pointer;
        }

        .message-menu-my-icon1:hover {
          color: #96a2b1;
        }

        .message-menu-my-icon2 {
          margin-right: 5px;
          font-size: 20px;
          color: #bac5d2;
          cursor: pointer;
        }

        .message-menu-my-icon2:hover {
          color: #96a2b1;
        }
      }

      /* меню сообщения другое */
      .message-menu-other {
        position: absolute;
        top: 0;
        right: -60px;
        width: 60px;
        /*border: 1px solid #000000;*/
        z-index: 3;

        .message-menu-other-icons {
          display: flex;
          position: absolute;
          // top: 50%;
          left: 5px;
          bottom: 0px;
          // margin-bottom: 16px;
        }

        .message-menu-other-icon1 {
          font-size: 23px;
          color: #bac5d2;
          cursor: pointer;
        }

        .message-menu-other-icon1:hover {
          color: #96a2b1;
        }

        .message-menu-other-icon2 {
          margin-right: 5px;
          font-size: 20px;
          color: #bac5d2;
          cursor: pointer;
        }

        .message-menu-other-icon2:hover {
          color: #96a2b1;
        }
      }

      /* блок цитаты */
      .message-box-quote {
        margin-bottom: 12px;
        .quote {
          position: relative;
          margin-left: 10px;
          &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 38px;
            background: $primary-base;
            border-radius: 60px;
            left: -10px;
          }
          .quote-author {
            margin-bottom: 4px;
          }

          .quote-text {}
        }
      }

      /* блок автора имени */
      .message-box-author-name {
        margin-bottom: 10px;
      }

      /* блок сообщения */
      .message-box-message {
        .message-box-text {
          margin-top: 5px;
        }
      }

    }
  }

  .message-time {
    position: absolute;
    top: 30%;
    right: 20px;
  }

  .message-box-author {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .message-box-recipients {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;
  }

  img.message-box-recipients-avatars {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
  }
  
  .message-box-author {
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .message-box-recipients {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 15px;
  }

  img.message-box-recipients-avatars {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
  }
}

