@import "@/styles/vuetify-preset-plus/light_theme/_variables.sass";
@import "@/styles/_typography.sass";

.dialog-message-update {
  .modal-header {
    margin-bottom: 0;
    font-size: 24px;
    color: #687983;
    text-align: center;
  }

  .modal-content {
    margin: 30px 0 20px 0;
  }

  .modal-action {
    display: flex;
  }

  .close {
    margin: 11px 0 0 11px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(51, 51, 51, 0.6);
    border-bottom: 1px dotted rgba(51, 51, 51, 0.6);
    cursor: pointer;
  }

  /* MEDIA */
  /* EXTRA SMALL */
  @media (max-width: 600px) {}

  /* SMALL */
  @media (min-width: 600px) and (max-width: 959.8px) {}

  /* MEDIUM */
  @media (min-width: 960px) and (max-width: 1263.8px) {}

  /* LARGE */
  @media (min-width: 1264px) and (max-width: 1903.8px) {}

  /* X LARGE */
  @media (min-width: 1904px) {}
}