.pagination
  font-family: Gilroy
  font-style: normal
  font-weight: 500
  font-size: 13px
  line-height: 17px
  color: #9191A1
  .pagination-total
    padding-left: 30px

.v-pagination.v-pagination--circle.theme--light
  justify-content: flex-end!important