.map {
    position: sticky;
    top: 24px;
    width: 100%;
    height: calc(100vh - 82px);
    min-height: 600px;
}

.shop-title {
    margin: 68px 0 0 0;
}

.shop-description {
    margin: 12px 0 0 0;
}
